# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env

# Virtual Environment
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/
output/
*.exe

# Project specific
profiles/
*.log
.env

# VS Code
.vscode/
*.code-workspace